<!DOCTYPE html>
  <!--[if lte IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
  <!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
  <!--[if gt IE 9]><!--><html class="no-js"> <!--<![endif]-->
  <head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Site Info -->
    <title>Home Page Title :: test.io</title>
    <meta name="description" content="">
    <meta name="keywords" content="" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="mobile-web-app-capable" content="yes" />

    <meta name="viewport" content="width=device-width initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

    <!-- Stylesheets -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300' rel='stylesheet' type='text/css'>
    <link href="/assets/stylesheets/application.css" media="screen" rel="stylesheet" />

    <!-- Javascript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/javascript/plugins/owl.carousel.js"></script>
    <script type="text/javascript" src="/assets/javascript/plugins/handlebars-v2.0.0.js"></script>
    <script type="text/javascript" src="/assets/javascript/application.js"></script>

    <!-- Handle Bars templates -->
    <script id="template-carousel" type="text/x-handlebars-template">
      <div class="item" style="background-image:url('/assets/images/content/home/carousel/{{image}}');">
        <div class="text">
          <span class="title">{{title}}</span>
          <span class="description">{{desc}}</span>
        </div>
      </div>
    </script>
    <script id="template-cta" type="text/x-handlebars-template">
      <a href="{{alias}}">
        <img src="/assets/images/content/home/ctas/{{image}}" alt="">
        <div class="text">
          <span class="title">{{title}}</span>
          <span class="location">{{region}} {{country}}</span>
          <span class="price">From: {{{currency}}}{{price}}pp</span>
        </div>
      </a>
    </script>
  </head>
  <body class="home">
    <header class="pageHeader">
      <div class="constrain cf">
        <div class="container cf">
          <a id="logo" href="#"><img src="/assets/images/logo.png" alt="Company Logo"></a>
          <a data-behaviour="toggle-mobile-menu" id="mobileMenuToggle" href="#">Menu</a>
        </div>
        <nav>
          <ul class="cf">
            <li><a href="#">ALL HOLIDAYS</a></li>
            <li><a href="#">DESTINATIONS</a></li>
            <li><a href="#">ABOUT US</a></li>
            <li><a href="#">NEWS</a></li> 
          </ul>
        </nav>
      </div>
    </header>
    <div id="homePageCarousel"></div>
    <section class="holder">
      <h1>All Holidays</h1>
      <section id="homePageCTAs" class="cf">
        <div class="noJavascript">
          <div class="text">
            <span>You need Javascript turned on to use this site</span>
          </div>
        </div>
      </section>
    </section>
    <footer class="pageFooter">
      <div class="constrain cf">
        <div class="telephone">
          <span>01252 111 111</span>
        </div>
        <ul class="social">
          <li><a class="facebook" href="#">Facebook</a></li>
          <li><a class="google" href="#">Google Plus</a></li>
          <li><a class="twitter" href="#">Twitter</a></li>
          <li><a class="pinInterest" href="#">Pin Interest</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>