footer.pageFooter {
	padding:35px 0 40px 0;
	background:#323232;
	div.constrain {
		max-width:1500px;
		margin:0 auto;
		padding:0 20px;
		div.telephone {
			float:left;
			padding:5px 0 0 4px;
			a {
				color:#FFF;
			}
			span {
				position:relative;
				padding:1px 0 0 41px;
				color:#FFF;
				font-size:30px;
				font-family: 'Raleway', sans-serif;
				letter-spacing:1px;
				word-spacing:1px;
				&:before {
					position:absolute;
					left:0;
					top:4px;
					content:"";
					width:32px;
					height:33px;
					@include sprite(0 -100px);
				}
			}
		}
		ul.social {
			float:right;
			li {
				float:left;
				list-style:none;
				margin-right:28px;
				a {
					display:block;
					position:relative;
					width:50px;
					height:50px;
					background:#555555;
					text-indent:-9999px;
					@include transitionAllFast();
					&:before {
						position:absolute;
						left:50%;
						top:50%;
						content:"";
					}
					&.facebook {
						&:before {
							width:20px;
							height:36px;
							margin-left:-10px;
							margin-top:-18px;
							@include sprite(-100px 0);
						}
						&:hover {
							background:#3a5795;
						}
					}
					&.google {
						&:before {
							width:36px;
							height:36px;
							margin-left:-19px;
							margin-top:-18px;
							@include sprite(-150px 0);
						}
						&:hover {
							background:#cf1717;
						}
					}
					&.twitter {
						&:before {
							width:35px;
							height:30px;
							margin-left:-17px;
							margin-top:-14px;
							@include sprite(-250px 0);
						}
						&:hover {
							background:#55acee;
						}
					}
					&.pinInterest {
						&:before {
							width:32px;
							height:40px;
							margin-left:-15px;
							margin-top:-20px;
							@include sprite(-200px 0);
						}
						&:hover {
							background:#e3262e;
						}
					}
				}
				&:last-child {
					margin-right:0;
				}
			}
		}
	}
}
@media screen and (max-width: 567px) {
	footer.pageFooter {
		div.constrain {
			div.telephone {
				float:none;
				text-align:center;
				margin-bottom:30px;
			}
			ul.social {
				float:none;
				text-align:center;
				li {
					float:none;
					display:inline-block;
					margin-right:10px;
				}
			}
		}
	}
}