header.pageHeader {
	background:#323232;
	div.constrain {
		max-width:1500px;
		margin:0 auto;
		padding:0 20px;
		div.container {
			position:relative;
			float:left;
			z-index:200;
			background:#323232;
			a#logo {
				float:left;
				padding:35px 0 0 9px;
				img {
					display:block;
					max-width:100%;
				}
			}
			a#mobileMenuToggle {
				position:relative;
				float:right;
				display:none;
				padding:42px 27px 42px 30px;
				color:#FFF;
				font: {
					size:22px;
					weight:bold;
					transform:uppercase;
				}
				&:before {
					position:absolute;
					left:0;
					top:50%;
					content:"";
					width:20px;
					height:16px;
					margin-top:-7px;
					@include sprite(-50px -100px);
				}
			}
		}
		nav {
			float:right;
			ul {
				float:right; 
				margin:0;
				padding:0;
				li {
					float:left;
					list-style:none;
					a {
						display:block;
						padding:42px 30px;
						color:#FFF;
						font: {
							size:30px;
							weight:bold;
							transform:uppercase;
						}
						text-decoration:none;
						@include transitionAllFast();
						&:hover {
							background:#6a6a6a;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1200px) {
	header.pageHeader {
		div.constrain {
			a#logo {
				width:150px;
			}
			nav {
				ul {
					li {
						a {
							font-size:22px;
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 1023px) {
	header.pageHeader {
		div.constrain {
			padding:0;
			div.container {
				float:none;
				padding:0 20px;
				a#mobileMenuToggle {
					position:relative;
					display:inline-block;
					z-index:200;
				}
			}
			nav {
				float:none;
				ul {
					height:0;
					width:100%;
					background:#323232;
					z-index:199;
					transition:transform 0.2s ease-in-out 0s, visibility 0s ease 0.6s;
					-webkit-transition: all 0.6s ease;
					-moz-transition: all 0.6s ease;
					-o-transition: all 0.6s ease;
					transition: all 0.6s ease;
					li {
						float:none;
						a {
							padding:20px 0;
							text-align:center;
						}
					}
				}
			}
		}
		&.open {
			div.constrain {
				div.container {
					a#mobileMenuToggle {
						&:before {
							@include sprite(-100px -100px);
						}
					}
				}
				nav {
					ul {
						height:264px;
					}
				}
			}
		}
	}
}
@media screen and (max-width: 567px) {
	header.pageHeader {
		div.constrain {
			div.container {
				a#logo {
					width:100px;
					padding:11px 0 0 0;
				}
				a#mobileMenuToggle {
					display:inline-block;
					padding:15px 0px 15px 30px;
				}
			}
			nav {

			}
		}
		&.open {
			div.constrain {
				nav {
					ul {
						top:69px;
					}
				}
			}
		}
	}
}