* {
	margin:0;
	padding:0;
}
html {
	height:101%;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	color:$color-base-dark;
	padding:0;
	margin:0;
	overflow-x:hidden;
}
a {
	color:$color-anchor-red;
	text-decoration:none;
}
section.holder {
	max-width:1200px;
	margin:0 auto;
}
@media screen and (max-width: 1199px) {
	section.holder {
		width:900px;
	}
}
@media screen and (max-width: 899px) {
	section.holder {
		width:600px;
	}	
}
@media screen and (max-width: 599px) {
	section.holder {
		width:300px;
	}	
}