//---------------------------------------------------------------//
// Typography
//---------------------------------------------------------------//
  
// Fonts
// ------------------------------------------//
$font-brand: Arial, sans-serif;


//---------------------------------------------------------------//
// Color Pallette
//---------------------------------------------------------------//

// Brand
// ------------------------------------------//
$color-brand-primary: #FFF;
$color-brand-secondary: #000;

/// Base
// ------------------------------------------//
$color-base-dark:#252525;
$color-anchor-red:#ce1e06;
$color-base-light: #fff;