/* Bourbon 4.0.2
 * http://bourbon.io
 * Copyright 2011-2014 thoughtbot, inc.
 * MIT License */
.cf:after {
  content: "";
  display: table;
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.center-content {
  text-align: center; }

.hidden {
  display: none;
  visibility: hidden; }

/*.invisible {
  @include invisible;
}*/
.hide-text {
  overflow: hidden; }
  .hide-text:before {
    content: "";
    display: block;
    width: 0;
    height: 100%; }

.visible-xs {
  display: none;
  visibility: hidden; }

@media (max-width: 767px) {
  .visible-xs {
    display: block; }

  table.visible-xs {
    display: table; }

  tr.visible-xs {
    display: table-row; }

  td.visible-xs {
    display: table-cell; }

  th.visible-xs {
    display: table-cell; } }
.visible-sm {
  display: none;
  visibility: hidden; }

@media (min-width: 768px) and (max-width: 991px) {
  .visible-sm {
    display: block; }

  table.visible-sm {
    display: table; }

  tr.visible-sm {
    display: table-row; }

  td.visible-sm {
    display: table-cell; }

  th.visible-sm {
    display: table-cell; } }
.visible-md {
  display: none;
  visibility: hidden; }

@media (min-width: 992px) and (max-width: 1199px) {
  .visible-md {
    display: block; }

  table.visible-md {
    display: table; }

  tr.visible-md {
    display: table-row; }

  td.visible-md {
    display: table-cell; }

  th.visible-md {
    display: table-cell; } }
.visible-lg {
  display: none;
  visibility: hidden; }

@media (min-width: 1200px) {
  .visible-lg {
    display: block; }

  table.visible-lg {
    display: table; }

  tr.visible-lg {
    display: table-row; }

  td.visible-lg {
    display: table-cell; }

  th.visible-lg {
    display: table-cell; } }
@media (max-width: 767px) {
  .hidden-xs {
    display: none;
    visibility: hidden; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none;
    visibility: hidden; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none;
    visibility: hidden; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none;
    visibility: hidden; } }

.visible-print {
  display: none;
  visibility: hidden; }
  @media print {
    .visible-print {
      display: block; } }

@media print {
  .hidden-print {
    display: none;
    visibility: hidden; } }

/*! normalize.css v2.1.3 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/**
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9.
 * Hide the `template` element in IE, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/**
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/**
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/**
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 1em 40px; }

/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * 1. Define consistent border, margin, and padding.
 * 2. Address width being affected by wide descendants in Chrome and Firefox.
 */
fieldset {
  border: 1px solid #c0c0c0;
  /* 1 */
  margin: 0 2px;
  /* 1 */
  min-width: 0;
  /* 2 */
  padding: 0.35em 0.625em 0.75em;
  /* 1 */ }

/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Correct color not being inherited in all browsers.
 *    Known issue: `select` will not inherit color in Chrome and Safari on OS X.
 * 2. Correct font properties not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Re-apply the `font-weight` to avoid modifying the default UX, and because
 * the default cannot be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* 
 * 	Core Owl Carousel CSS File
 *	v1.3.3
 */
/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0; }

/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y; }

.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px); }

.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%; }

.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out; }

.owl-carousel .owl-item {
  float: left; }

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
  cursor: pointer; }

.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent; }

/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move; }

/* fix */
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0); }

* {
  margin: 0;
  padding: 0; }

html {
  height: 101%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #252525;
  padding: 0;
  margin: 0;
  overflow-x: hidden; }

a {
  color: #ce1e06;
  text-decoration: none; }

section.holder {
  max-width: 1200px;
  margin: 0 auto; }

@media screen and (max-width: 1199px) {
  section.holder {
    width: 900px; } }
@media screen and (max-width: 899px) {
  section.holder {
    width: 600px; } }
@media screen and (max-width: 599px) {
  section.holder {
    width: 300px; } }
body.home h1 {
  margin: 0;
  padding: 31px 0 31px 0;
  text-align: center;
  color: #323232;
  font-family: 'Raleway', sans-serif;
  font-size: 73px;
  font-weight: 300; }

@media screen and (max-width: 567px) {
  body.home h1 {
    font-size: 35px; } }
div#homePageCarousel {
  z-index: 1;
  max-width: 1500px;
  margin: 0 auto; }
  div#homePageCarousel div.item {
    height: 384px;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
    div#homePageCarousel div.item img {
      display: block;
      max-width: 100%; }
    div#homePageCarousel div.item div.text {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      padding: 15px;
      background: rgba(0, 0, 0, 0.7); }
      div#homePageCarousel div.item div.text span {
        display: block;
        color: #FFF; }
      div#homePageCarousel div.item div.text span.title {
        padding: 0 0 10px 0;
        font-size: 20px; }
  div#homePageCarousel div.owl-buttons div.owl-prev {
    position: absolute;
    left: 57px;
    top: 50%;
    text-indent: -9999px;
    width: 34px;
    height: 63px;
    margin-top: -32px;
    background-image: url("/assets/images/sprite/sprite.png");
    background-position: 0 0;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      div#homePageCarousel div.owl-buttons div.owl-prev {
        background-image: url("/assets/images/sprite/sprite@2x.png");
        background-size: 1000px 1000px; } }
    div#homePageCarousel div.owl-buttons div.owl-prev:hover {
      opacity: 0.7; }
  div#homePageCarousel div.owl-buttons div.owl-next {
    position: absolute;
    right: 57px;
    top: 50%;
    text-indent: -9999px;
    width: 34px;
    height: 63px;
    margin-top: -32px;
    background-image: url("/assets/images/sprite/sprite.png");
    background-position: -50px 0;
    background-repeat: no-repeat;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
    @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
      div#homePageCarousel div.owl-buttons div.owl-next {
        background-image: url("/assets/images/sprite/sprite@2x.png");
        background-size: 1000px 1000px; } }
    div#homePageCarousel div.owl-buttons div.owl-next:hover {
      opacity: 0.7; }

@media screen and (max-width: 899px) {
  div#homePageCarousel div.item {
    height: 250px; } }
@media screen and (max-width: 599px) {
  div#homePageCarousel div.item {
    height: auto;
    padding: 250px 0 0 0; }
    div#homePageCarousel div.item div.text {
      position: static; }
      div#homePageCarousel div.item div.text span.description {
        display: none; }
  div#homePageCarousel div.owl-buttons div.owl-prev {
    left: 20px;
    margin-top: -40px; }
  div#homePageCarousel div.owl-buttons div.owl-next {
    right: 20px;
    margin-top: -40px; } }
section#homePageCTAs {
  margin: 0 0 151px 0; }
  section#homePageCTAs a {
    position: relative;
    float: left;
    width: 300px;
    height: 225px;
    overflow: hidden; }
    section#homePageCTAs a img {
      display: block;
      max-width: 100%;
      -webkit-transition: all 0.7s linear;
      -moz-transition: all 0.7s linear;
      -o-transition: all 0.7s linear;
      -ms-transition: all 0.7s linear;
      transition: all 0.7s linear; }
    section#homePageCTAs a div.text {
      position: absolute;
      left: 22px;
      bottom: 20px;
      width: 260px;
      height: 185px;
      background: rgba(235, 236, 239, 0.8);
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
      filter: alpha(opacity=0);
      opacity: 0;
      -webkit-transition: all 0.4s ease-in-out;
      -moz-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      -ms-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out; }
      section#homePageCTAs a div.text span {
        display: block;
        width: 100%;
        color: #323232;
        text-align: center; }
      section#homePageCTAs a div.text span.title {
        padding: 23px 0 7px 0;
        font-size: 20px;
        font-weight: bold;
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -o-transform: translateY(-100px);
        -ms-transform: translateY(-100px);
        transform: translateY(-100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      section#homePageCTAs a div.text span.price {
        position: absolute;
        bottom: 21px;
        font-size: 18px;
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -o-transform: translateY(100px);
        -ms-transform: translateY(100px);
        transform: translateY(100px);
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
        filter: alpha(opacity=0);
        opacity: 0;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear; }
    section#homePageCTAs a:hover img {
      -webkit-transform: scale(1.1, 1.1);
      -moz-transform: scale(1.1, 1.1);
      -o-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
      transform: scale(1.1, 1.1); }
    section#homePageCTAs a:hover div.text {
      -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
      filter: alpha(opacity=100);
      opacity: 1; }
      section#homePageCTAs a:hover div.text span.title,
      section#homePageCTAs a:hover div.text span.price {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px); }

@media screen and (max-width: 1199px) {
  section#homePageCTAs a {
    height: auto; }
    section#homePageCTAs a div.text {
      opacity: 1;
      left: 0;
      bottom: 0;
      height: auto;
      width: 100%;
      padding: 0 15px 15px 15px;
      box-sizing: border-box; }
      section#homePageCTAs a div.text span {
        position: static;
        text-align: left;
        width: auto; }
      section#homePageCTAs a div.text span.title,
      section#homePageCTAs a div.text span.price {
        -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
        filter: alpha(opacity=100);
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -o-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px); }
      section#homePageCTAs a div.text span.title {
        padding: 10px 0 5px 0; }
      section#homePageCTAs a div.text span.location,
      section#homePageCTAs a div.text span.price {
        display: inline;
        position: static;
        font-size: 16px; }
      section#homePageCTAs a div.text span.price {
        padding-left: 5px; }
    section#homePageCTAs a:hover img {
      -webkit-transform: scale(1, 1);
      -moz-transform: scale(1, 1);
      -o-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
      transform: scale(1, 1);
      -webkit-transition: none;
      -moz-transition: none;
      -o-transition: none;
      -ms-transition: none;
      transition: none; } }
@media screen and (max-width: 567px) {
  section#homePageCTAs {
    margin: 0 0 30px 0; } }
header.pageHeader {
  background: #323232; }
  header.pageHeader div.constrain {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px; }
    header.pageHeader div.constrain div.container {
      position: relative;
      float: left;
      z-index: 200;
      background: #323232; }
      header.pageHeader div.constrain div.container a#logo {
        float: left;
        padding: 35px 0 0 9px; }
        header.pageHeader div.constrain div.container a#logo img {
          display: block;
          max-width: 100%; }
      header.pageHeader div.constrain div.container a#mobileMenuToggle {
        position: relative;
        float: right;
        display: none;
        padding: 42px 27px 42px 30px;
        color: #FFF;
        font-size: 22px;
        font-weight: bold;
        font-transform: uppercase; }
        header.pageHeader div.constrain div.container a#mobileMenuToggle:before {
          position: absolute;
          left: 0;
          top: 50%;
          content: "";
          width: 20px;
          height: 16px;
          margin-top: -7px;
          background-image: url("/assets/images/sprite/sprite.png");
          background-position: -50px -100px;
          background-repeat: no-repeat; }
          @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
            header.pageHeader div.constrain div.container a#mobileMenuToggle:before {
              background-image: url("/assets/images/sprite/sprite@2x.png");
              background-size: 1000px 1000px; } }
    header.pageHeader div.constrain nav {
      float: right; }
      header.pageHeader div.constrain nav ul {
        float: right;
        margin: 0;
        padding: 0; }
        header.pageHeader div.constrain nav ul li {
          float: left;
          list-style: none; }
          header.pageHeader div.constrain nav ul li a {
            display: block;
            padding: 42px 30px;
            color: #FFF;
            font-size: 30px;
            font-weight: bold;
            font-transform: uppercase;
            text-decoration: none;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease; }
            header.pageHeader div.constrain nav ul li a:hover {
              background: #6a6a6a; }

@media screen and (max-width: 1200px) {
  header.pageHeader div.constrain a#logo {
    width: 150px; }
  header.pageHeader div.constrain nav ul li a {
    font-size: 22px; } }
@media screen and (max-width: 1023px) {
  header.pageHeader div.constrain {
    padding: 0; }
    header.pageHeader div.constrain div.container {
      float: none;
      padding: 0 20px; }
      header.pageHeader div.constrain div.container a#mobileMenuToggle {
        position: relative;
        display: inline-block;
        z-index: 200; }
    header.pageHeader div.constrain nav {
      float: none; }
      header.pageHeader div.constrain nav ul {
        height: 0;
        width: 100%;
        background: #323232;
        z-index: 199;
        transition: transform 0.2s ease-in-out 0s, visibility 0s ease 0.6s;
        -webkit-transition: all 0.6s ease;
        -moz-transition: all 0.6s ease;
        -o-transition: all 0.6s ease;
        transition: all 0.6s ease; }
        header.pageHeader div.constrain nav ul li {
          float: none; }
          header.pageHeader div.constrain nav ul li a {
            padding: 20px 0;
            text-align: center; }
  header.pageHeader.open div.constrain div.container a#mobileMenuToggle:before {
    background-image: url("/assets/images/sprite/sprite.png");
    background-position: -100px -100px;
    background-repeat: no-repeat; } }
  @media only screen and (max-width: 1023px) and (-webkit-min-device-pixel-ratio: 1.3), only screen and (max-width: 1023px) and (min--moz-device-pixel-ratio: 1.3), only screen and (max-width: 1023px) and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (max-width: 1023px) and (min-resolution: 125dpi), only screen and (max-width: 1023px) and (min-resolution: 1.3dppx) {
    header.pageHeader.open div.constrain div.container a#mobileMenuToggle:before {
      background-image: url("/assets/images/sprite/sprite@2x.png");
      background-size: 1000px 1000px; } }
@media screen and (max-width: 1023px) {
  header.pageHeader.open div.constrain nav ul {
    height: 264px; } }
@media screen and (max-width: 567px) {
  header.pageHeader div.constrain div.container a#logo {
    width: 100px;
    padding: 11px 0 0 0; }
  header.pageHeader div.constrain div.container a#mobileMenuToggle {
    display: inline-block;
    padding: 15px 0px 15px 30px; }
  header.pageHeader.open div.constrain nav ul {
    top: 69px; } }
footer.pageFooter {
  padding: 35px 0 40px 0;
  background: #323232; }
  footer.pageFooter div.constrain {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px; }
    footer.pageFooter div.constrain div.telephone {
      float: left;
      padding: 5px 0 0 4px; }
      footer.pageFooter div.constrain div.telephone a {
        color: #FFF; }
      footer.pageFooter div.constrain div.telephone span {
        position: relative;
        padding: 1px 0 0 41px;
        color: #FFF;
        font-size: 30px;
        font-family: 'Raleway', sans-serif;
        letter-spacing: 1px;
        word-spacing: 1px; }
        footer.pageFooter div.constrain div.telephone span:before {
          position: absolute;
          left: 0;
          top: 4px;
          content: "";
          width: 32px;
          height: 33px;
          background-image: url("/assets/images/sprite/sprite.png");
          background-position: 0 -100px;
          background-repeat: no-repeat; }
          @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
            footer.pageFooter div.constrain div.telephone span:before {
              background-image: url("/assets/images/sprite/sprite@2x.png");
              background-size: 1000px 1000px; } }
    footer.pageFooter div.constrain ul.social {
      float: right; }
      footer.pageFooter div.constrain ul.social li {
        float: left;
        list-style: none;
        margin-right: 28px; }
        footer.pageFooter div.constrain ul.social li a {
          display: block;
          position: relative;
          width: 50px;
          height: 50px;
          background: #555555;
          text-indent: -9999px;
          -webkit-transition: all 0.3s ease;
          -moz-transition: all 0.3s ease;
          -o-transition: all 0.3s ease;
          transition: all 0.3s ease; }
          footer.pageFooter div.constrain ul.social li a:before {
            position: absolute;
            left: 50%;
            top: 50%;
            content: ""; }
          footer.pageFooter div.constrain ul.social li a.facebook:before {
            width: 20px;
            height: 36px;
            margin-left: -10px;
            margin-top: -18px;
            background-image: url("/assets/images/sprite/sprite.png");
            background-position: -100px 0;
            background-repeat: no-repeat; }
            @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
              footer.pageFooter div.constrain ul.social li a.facebook:before {
                background-image: url("/assets/images/sprite/sprite@2x.png");
                background-size: 1000px 1000px; } }
          footer.pageFooter div.constrain ul.social li a.facebook:hover {
            background: #3a5795; }
          footer.pageFooter div.constrain ul.social li a.google:before {
            width: 36px;
            height: 36px;
            margin-left: -19px;
            margin-top: -18px;
            background-image: url("/assets/images/sprite/sprite.png");
            background-position: -150px 0;
            background-repeat: no-repeat; }
            @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
              footer.pageFooter div.constrain ul.social li a.google:before {
                background-image: url("/assets/images/sprite/sprite@2x.png");
                background-size: 1000px 1000px; } }
          footer.pageFooter div.constrain ul.social li a.google:hover {
            background: #cf1717; }
          footer.pageFooter div.constrain ul.social li a.twitter:before {
            width: 35px;
            height: 30px;
            margin-left: -17px;
            margin-top: -14px;
            background-image: url("/assets/images/sprite/sprite.png");
            background-position: -250px 0;
            background-repeat: no-repeat; }
            @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
              footer.pageFooter div.constrain ul.social li a.twitter:before {
                background-image: url("/assets/images/sprite/sprite@2x.png");
                background-size: 1000px 1000px; } }
          footer.pageFooter div.constrain ul.social li a.twitter:hover {
            background: #55acee; }
          footer.pageFooter div.constrain ul.social li a.pinInterest:before {
            width: 32px;
            height: 40px;
            margin-left: -15px;
            margin-top: -20px;
            background-image: url("/assets/images/sprite/sprite.png");
            background-position: -200px 0;
            background-repeat: no-repeat; }
            @media only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 1.3 / 1), only screen and (min-resolution: 125dpi), only screen and (min-resolution: 1.3dppx) {
              footer.pageFooter div.constrain ul.social li a.pinInterest:before {
                background-image: url("/assets/images/sprite/sprite@2x.png");
                background-size: 1000px 1000px; } }
          footer.pageFooter div.constrain ul.social li a.pinInterest:hover {
            background: #e3262e; }
        footer.pageFooter div.constrain ul.social li:last-child {
          margin-right: 0; }

@media screen and (max-width: 567px) {
  footer.pageFooter div.constrain div.telephone {
    float: none;
    text-align: center;
    margin-bottom: 30px; }
  footer.pageFooter div.constrain ul.social {
    float: none;
    text-align: center; }
    footer.pageFooter div.constrain ul.social li {
      float: none;
      display: inline-block;
      margin-right: 10px; } }
div.noJavascript div.text span {
  display: block;
  padding: 50px 0;
  font-weight: bold;
  font-size: 30px;
  color: #BBB;
  text-align: center; }
