body.home {
	h1 {
		margin:0;
		padding:31px 0 31px 0;
		text-align:center;
		color:#323232;
		font: {
			family: 'Raleway', sans-serif;
			size:73px;
			weight:300;
		}

	}
}
@media screen and (max-width: 567px) {
	body.home {
		h1 {
			font-size:35px;
		}
	}
}
div#homePageCarousel {
	z-index:1;
	max-width:1500px;
	margin:0 auto;
	div.item {
		height:384px;
		background-position:center center;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		img {
			display:block;
			max-width:100%;
		}
		div.text {
			position:absolute;
			left:0;
			bottom:0;
			width:100%;
			padding:15px;
			background:rgba(0,0,0,0.7);
			span {
				display:block;
				color:#FFF;
			}
			span.title {
				padding:0 0 10px 0;
				font-size:20px;
			}
		}
	}
	div.owl-buttons {
		div.owl-prev {
			position:absolute;
			left:57px;
			top:50%;
			text-indent:-9999px;
			width:34px;
			height:63px;
			margin-top:-32px;
			@include sprite(0 0);
			@include transitionAllFast();
			&:hover {
				opacity:0.7;
			}
		}
		div.owl-next {
			position:absolute;
			right:57px;
			top:50%;
			text-indent:-9999px;
			width:34px;
			height:63px;
			margin-top:-32px;
			@include sprite(-50px 0);
			@include transitionAllFast();
			&:hover {
				opacity:0.7;
			}
		}
	}
}
@media screen and (max-width: 899px) {
	div#homePageCarousel {
		div.item {
			height:250px;
		}
	}
}
@media screen and (max-width: 599px) {
	div#homePageCarousel {
		div.item {
			height:auto;
			padding:250px 0 0 0;
			div.text {
				position:static;
				span.description {
					display:none;
				}
			}
		}
		div.owl-buttons {
			div.owl-prev {
				left:20px;
				margin-top:-40px;
			}
			div.owl-next {
				right:20px;
				margin-top:-40px;
			}
		}
	}
}
section#homePageCTAs {
	margin:0 0 151px 0;
	a {
		position:relative;
		float:left;
		width:300px;
		height:225px;
		overflow:hidden;
		img {
			display:block;
			max-width:100%;
			-webkit-transition: all 0.7s linear;
			-moz-transition: all 0.7s linear;
			-o-transition: all 0.7s linear;
			-ms-transition: all 0.7s linear;
			transition: all 0.7s linear;
		}
		div.text {
			position:absolute;
			left:22px;
			bottom:20px;
			width:260px;
			height:185px;
			background:rgba(235,236,239,0.8);
			-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
			filter: alpha(opacity=0);
			opacity: 0;
			-webkit-transition: all 0.4s ease-in-out;
			-moz-transition: all 0.4s ease-in-out;
			-o-transition: all 0.4s ease-in-out;
			-ms-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			span {
				display:block;
				width:100%;
				color:#323232;
				text-align:center;
			}
			span.title {
				padding:23px 0 7px 0;
				font-size:20px;
				font-weight:bold;
				-webkit-transform: translateY(-100px);
				-moz-transform: translateY(-100px);
				-o-transform: translateY(-100px);
				-ms-transform: translateY(-100px);
				transform: translateY(-100px);
				-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				opacity: 0;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition: all 0.2s ease-in-out;
				-o-transition: all 0.2s ease-in-out;
				-ms-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
			span.price {
				position:absolute;
				bottom:21px;
				font-size:18px;
				-webkit-transform: translateY(100px);
				-moz-transform: translateY(100px);
				-o-transform: translateY(100px);
				-ms-transform: translateY(100px);
				transform: translateY(100px);
				-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
				filter: alpha(opacity=0);
				opacity: 0;
				-webkit-transition: all 0.2s linear;
				-moz-transition: all 0.2s linear;
				-o-transition: all 0.2s linear;
				-ms-transition: all 0.2s linear;
				transition: all 0.2s linear;
			}
		}
		&:hover {
			img {
				-webkit-transform: scale(1.1,1.1);
				-moz-transform: scale(1.1,1.1);
				-o-transform: scale(1.1,1.1);
				-ms-transform: scale(1.1,1.1);
				transform: scale(1.1,1.1);
			}
			div.text {
				-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
				filter: alpha(opacity=100);
				opacity: 1;
				span.title,
				span.price {
					-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
					filter: alpha(opacity=100);
					opacity: 1;
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					-o-transform: translateY(0px);
					-ms-transform: translateY(0px);
					transform: translateY(0px);
				}
			}
		}
	}
}
@media screen and (max-width: 1199px) {
	section#homePageCTAs {
		a {
			height:auto;
			div.text {
				opacity:1;
				left:0;
				bottom:0;
				height:auto;
				width:100%;
				padding:0 15px 15px 15px;
				box-sizing: border-box;
				span {
					position:static;
					text-align:left;
					width:auto;
				}
				span.title,
				span.price {
					-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
					filter: alpha(opacity=100);
					opacity: 1;
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					-o-transform: translateY(0px);
					-ms-transform: translateY(0px);
					transform: translateY(0px);
				}
				span.title {
					padding:10px 0 5px 0;
				}
				span.location,
				span.price {
					display:inline;
					position:static;
					font-size:16px;
				}
				span.price {
					padding-left:5px;
				}
			}
			&:hover {
				img {
					-webkit-transform: scale(1,1);
					-moz-transform: scale(1,1);
					-o-transform: scale(1,1);
					-ms-transform: scale(1,1);
					transform: scale(1,1);
					-webkit-transition: none;
					-moz-transition: none;
					-o-transition: none;
					-ms-transition: none;
					transition: none;
				}
			}
		}
	}
}
@media screen and (max-width: 567px) {
	section#homePageCTAs {
		margin:0 0 30px 0;
	}
}