//---------------------------------------------------------------//
// Helper Classes
//---------------------------------------------------------------//


// Floats
// ------------------------------------------//

.cf {
  @include clearfix;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}


// Centering Content
// ------------------------------------------//

.center-block {
  @include center-block;
}

.center-content {
  @include center-content;
}


// Visibility
// ------------------------------------------//

.hidden {
  @include hidden;
}
/*.invisible {
  @include invisible;
}*/
.hide-text {
  @include hide-text;
}


// Responsive - Show at select size
// ------------------------------------------//

.visible-xs {
  @include hidden;
}
@media (max-width: $screen-xs-max) {
  @include show-xs;
}

.visible-sm {
  @include hidden;
}
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
  @include show-sm;
}

.visible-md {
  @include hidden;
}
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
  @include show-md;
}

.visible-lg {
  @include hidden;
}
@media (min-width: $screen-lg-min) {
  @include show-lg;
}


// Responsive - Hide at selected size
// ------------------------------------------//

.hidden-xs {
  @media (max-width: $screen-xs-max) {
    @include hidden;
  }
}
.hidden-sm {
  @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
    @include hidden;
  }
}
.hidden-md {
  @media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
    @include hidden;
  }
}
.hidden-lg {
  @media (min-width: $screen-lg-min) {
    @include hidden;
  }
}


// Print Visibility
// ------------------------------------------//

.visible-print {
  @include hidden;
  @media print {
    @include show;
  }
}

.hidden-print {
  @media print {
    @include hidden;
  }
}