//---------------------------------------------------------------//
// Custom Mixins
//---------------------------------------------------------------//

@mixin center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@mixin center-content {
  text-align: center;
}

@mixin show($mode: block) {
  display: $mode;
}

@mixin show-xs {
  .visible-xs {       @include show; }
  table.visible-xs {  @include show(table); }
  tr.visible-xs {     @include show(table-row); }
  td.visible-xs {     @include show(table-cell); }
  th.visible-xs {     @include show(table-cell); }
}

@mixin show-sm {
  .visible-sm {       @include show; }
  table.visible-sm {  @include show(table); }
  tr.visible-sm {     @include show(table-row); }
  td.visible-sm {     @include show(table-cell); }
  th.visible-sm {     @include show(table-cell); }
}

@mixin show-md {
  .visible-md {       @include show; }
  table.visible-md {  @include show(table); }
  tr.visible-md {     @include show(table-row); }
  td.visible-md {     @include show(table-cell); }
  th.visible-md {     @include show(table-cell); }
}

@mixin show-lg {
  .visible-lg {       @include show; }
  table.visible-lg {  @include show(table); }
  tr.visible-lg {     @include show(table-row); }
  td.visible-lg {     @include show(table-cell); }
  th.visible-lg {     @include show(table-cell); }
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

@mixin inviisible {
  visibility: hidden;
}

@mixin sprite($position) {
  @include retina-image(/assets/images/sprite/sprite, 1000px 1000px, png, "/assets/images/sprite/sprite@2x", true);
  background-position: $position;
  background-repeat: no-repeat;
}

@mixin roundedCorners($val) {
  -webkit-radius:$val $val $val $val;
  -moz-border-radius:$val $val $val $val;
  -o-border-radius:$val $val $val $val;
  border-radius:$val $val $val $val;
}
@mixin transitionAllFast() {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@mixin transitionAllSlow() {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  transition: all 0.9s ease;
}